/* Layout */
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  position:relative;
}
/* Accordian Styles */
.panel-group{
  padding: 0px 20px;
}

/* Carousel Styles */
#background-carousel{
  top:50px;
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
.carousel,
.carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:100%;
  background-position:center center;
  background-size:cover;
  z-index:0;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

/* indicators */
#myCarousel .carousel-indicators {
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  z-index: 2;
}
#myCarousel .carousel-indicators li {
  display: inline-block;
  margin:0;
  padding:0;
  border:0;
  border-radius: 0;
  height: 100px;
  width: auto;
  overflow: hidden;
}
#myCarousel .carousel-indicators img {
  float: left;
  max-height: 100px;
  left: 0;
  width: auto;
  opacity: 0.4;
}
#myCarousel .carousel-indicators li.active img {
  opacity: 1;
}
#myCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}