/* Images */
body {
  margin: 0;
}

h1{
  font-family: 'Saira:500', sans-serif;
  color: #101010;
  font-weight: 550;
}
p, form{
  text-align: center;
  padding: 0px 50px 0px 50px;
}
.paypal img{
  padding-bottom: 50px;
}
/* Photos */
.photos{
  max-width: 100%;
  min-height: 100%;
  padding-right: 2.5px;
}
.photos:after{
  content:'';
  display: inline-block;
  width: 100%;
}

.photos img{
  display: block;
  float: left;
  height: auto;
  padding-left: 2.5px;
  padding-bottom: 2.5px;
  width: 33.333%;
  position: relative;
  text-align: center;
}


@media (max-width: 1000px) {
  .photos img{
    width: 33%;
  }
}
@media (max-width: 800px) {
  .photos img{
    width: 50%;
  }
}
@media (max-width: 400px) {
  .photos img{
    width: 100%;
  }

/* Modals
.modal-backdrop{
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,0.8);
}
.modal-dialog{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.modal-content {
  margin-left: auto;
  margin-right: auto;
  width: 898px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.modal-content img{
  max-width: 898px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 400px){
  .mobile-noclick{
    pointer-events: none;
  }
  a{display:block;}
}
*/
