<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <link href="css/about.css" rel="stylesheet">
  <body onload="showPage()" id="page-content" class="fade-in">
  <div id="loader"></div>
    {% include nav.html %}
      {{ content }}
     <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Match Height JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{site.baseurl}}/assets/js/loadingscreen.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/assets/js/heightfix.js" type="text/javascript"></script>
  </body>
</html>