<!DOCTYPE html>
<html class="full" lang="en">
{% include head.html %}
  <body id="page-content" class="fade-in" onload="showPage()">
    <div id="loader"></div>
        {{ content }}
  </body>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Custom JavaScript -->
  <script src="/assets/js/mouseBgChange.js" type="text/javascript"></script>
  <script src="/assets/js/loadingscreen.js" type="text/javascript"></script>
</html>